:root {
  --ted-color: #e62b1e;
  --dark: #333;
  --light: #fff;

  --font-Borel: "Borel", cursive;
  --font-Poppins: "Poppins", sans-serif;
  --font-Raleway: "Raleway", sans-serif;

  --fontW1: 100;
  --fontW2: 200;
  --fontW3: 300;
  --fontWx4: 400;
  --fontWx5: 500;
  --fontWx6: 600;
  --fontWx7: 700;
  --fontWx8: 800;
  --fontWx9: 900;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-weight: var(--fontWx3);
}

body {
  background: #000;
  cursor: default !important;
}

#sponsors {
  background: linear-gradient(135deg, rgba(139, 0, 255, 0.1), rgba(0, 0, 0, 1));
}

.sponsors_slider {
  text-align: center;
  margin-left: -15px;
  margin-right: -15px;
  position: relative;
  z-index: 1;
  display: block;
  -webkit-user-select: none;
  user-select: none;
  touch-action: pan-y;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  overflow: hidden;
}

.divider_custom{
  width:100%; 
  height:1px; 
  background-color:#e4e4e4;
  margin-bottom: 75px;
}
.sub-header{
  margin-bottom: 90px;
}

.sub-header h1{
  font-size: 36px; 
  font-weight: bold; 
  margin-bottom: 10px; 
  color: #fff;
}

.sub-header p{
  font-size: 16px; 
  color: #666;
}

.slider_title h4{
  font-weight: 400;
  color: #fff;
}

.slider_title h4 span{
  opacity:50%;
  font-size:16px;
}

.sponsor_card {
  padding: 10px 0 30px 0;
  float: left;
  height: 100%;
  min-height: 1px;
  cursor: pointer;
  text-align: center;
  margin: 0 10px;
}

.sponsor_card img {
  width: 240px; 
  height: 151px;
  padding: 15px 0;
  border-radius: 10px;
  transition: all 0.3s;
  max-width: 100%;
  vertical-align: top;
  -webkit-user-select: none;
  user-select: none;
  margin: auto;
  border: 1px solid transparent;
  /* background: rgba(255, 255, 255, 0.05);  */ /*Glassermophis BG*/
  /* backdrop-filter: blur(10px); */
}

.sponsor_card img:hover {
  border-color: rgba(139, 0, 255, 0.5);
  background:  rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
}

footer,
.footer-container {
  background: none !important;
}
